
.divlogoGrande{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}


.contenedor{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.contendorRegistro{
    width: 85%;
    max-width: 1072px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-top: 32px;
}

.alinearIzquierda{
    display: flex;
    justify-content: left;
}
.alinearEnmedio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alinearDerecha{
    display: flex;
    justify-content: right;
}


.cerrar{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-right: 32px;
    margin-top: 32px;
}

.logouaq{
    width: 59.7px;
    height: 80px;
    margin-top: 32px;
}

.columna{
    
    width: 45%;
}

.Elemento{
    margin-bottom: 32px;
    
}

.registrarseTexto{
    height: 32px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #B1A4C3;

    margin-top: 24px;
}

.contenedorFlex{
    display: flex;
    
    margin-top: 24px;

    justify-content: space-evenly;
}
@media (max-width: 800px) {
    .contenedorFlex {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .columna{
    
        width: 90%;
    }
  }

.tituloRegistro{
    /*width: 177.63px;*/
    height: 24px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;


    color: #6D6875;
    margin-top: 0px;
    
    margin-bottom: 8px;
}

.inputRegistro{
    width: -webkit-fill-available;
   /* max-width: 488px;*/
    height: 32px;

    background: #F1F1F1;
    border-radius: 4px;
    
    border-color: rgba(0, 0, 0, 0.03);

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #6D6875;
}

.botonRegistrar{
    width: 80%;
    max-width: 488px;
    height: 48px;

    background: #B1A4C3;
    border-radius: 100px;
    border-color: rgba(0, 0, 0, 0.01);

    margin-top: 32px;
    margin-bottom: 32px;
    

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    
}

.botonRegistrar:hover{
    transition-duration: 0.2s;
    background: #9272be;
    cursor: pointer;
}

.ShowPasswordNotMatchesError{
    display: none;
}

.alerta{
    height: 15px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FF575F;
}