html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}


.divlogoGrande{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}


.contenedor{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    
}

.contendorRegistro{
    width: 85%;
    max-width: 1072px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-top: 32px;
}

.alinearIzquierda{
    display: flex;
    justify-content: left;
}

.alinearTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

.alinearTitulo .close{
    align-self: start;
    margin-top: 16px;
    margin-right: 16px;
}

.alinearTitulo p{
    position: absolute;
    left: 0;
    right: 0;
}

.alinearTitulo .img{
    
    margin-left: 32px;
}



.alinearEnmedio{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.alinearDerecha{
    display: flex;
    justify-content: right;
}


.cerrar{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-right: 32px;
    margin-top: 32px;
}

.logouaq{
    width: 59.7px;
    height: 80px;
}

.columna{
    
    width: 45%;
}

.Elemento{
    margin-bottom: 32px;
    
}

.registrarseTexto{
    height: 32px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 28px;
    align-items: center;
    text-align: center;

    color: #B1A4C3;

    margin-top: 24px;
}

.contenedorFlex{
    display: flex;
    
    

    justify-content: space-evenly;
}
@media (max-width: 800px) {
    .contenedorFlex {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .columna{
    
        width: 90%;
    }
}

.tituloRegistro{
    /*width: 177.63px;*/
    height: 24px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;


    color: #6D6875;
    margin-top: 0px;
    
    margin-bottom: 8px;
}

.inputRegistro{
    width: -webkit-fill-available;
   /* max-width: 488px;*/
    height: 32px;

    background: #F1F1F1;
    border-radius: 4px;
    
    border-color: rgba(0, 0, 0, 0.03);

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #6D6875;
}

.inputRegistro:focus-visible{
    outline: 0.2px solid #2b2b2b;
}

.botonRegistrar{
    width: 80%;
    max-width: 488px;
    height: 48px;

    background: #B1A4C3;
    border-radius: 100px;
    border-color: rgba(0, 0, 0, 0.01);
    

    margin-top: 0px;
    margin-bottom: 32px;
    

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    
}

.botonRegistrar:hover{
    transition-duration: 0.2s;
    background: #9272be;
    cursor: pointer;
}

.botonRegistrar:focus-visible {
    outline: 0.2px solid #2b2b2b;
}

.ShowPasswordNotMatchesError{
    display: none;
}

.alerta{
    position: absolute;
    margin-top: 8px;
    height: 15px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FF575F;
}



/****popup****/

  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .mensajeConfirmacion{
    /* visibility: hidden; */
    display: none;
    
    position: absolute;
    width: 480px;
    height: 264px;
    top: 0; bottom: 0; left: 0; right : 0;
    margin: auto;


    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 3;

    text-align: center;
  }

  
  .cuadroOscuro{
    position:absolute;
    display: none;
    top: 0px;
    left: 0px; 
    right: 0px;
    z-index: 2;
    bottom: 0;
    
    overflow:hidden;
    background-color: #23232488;
  }

  .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .mensajeConfirmacion img{
    margin-top: 60px;
  }

  .mensajeConfirmacion p {
    height: 28px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    

    color: #6D6875;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .mensajeConfirmacion input {
    width: 400px;
    height: 48px;

    background: #B1A4C3;
    border-radius: 100px;
    border:rgba(0, 0, 0, 0.02);

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    text-align: center;

    color: #FFFFFF;
  }

  .mensajeConfirmacion .cerrar {
    position: absolute;
    margin-top: 0px;
    margin-right: 0px;
    right: 15px;
    left: auto;
    top: 15px;
  }

  .mensajeConfirmacion a img{
    margin-top: 0;
  }

  .mensajeConfirmacion input:hover{
    transition-duration: 0.2s;
    background: #9272be;
    cursor: pointer;
  }

  .passwordContainer{
    display: flex;
  }

  .passwordContainer input[type=checkbox] {
    display: none;
  }

  .label{
    height: 100%;
    margin-left: -30px;
    display: inline-block;
    background: url("/img/Vector\ 90.svg") no-repeat left center;
    padding-left: 30px;
  }

  .passwordContainer input[type=checkbox]:checked + .label {
    
    background: url("/img/eye.svg") no-repeat left center; 
  }